.font-news-reader {
  font-family: 'Newsreader', serif;
}

ul,ol {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1em;
}

p {
  letter-spacing: 0.05em;
}

a {
  letter-spacing: 0.1em;
  display: inline-block;
}

time {
  letter-spacing: 0.1em;
}

button {
  letter-spacing: 0.1em;
}