<header class="header bg-primary-100 sticky-top">
  <nav class="navbar navbar-expand-md">
    <div
      class="container justify-content-between align-items-center py-lg-4 py-4"
    >
      <div
        class="search-area d-flex justify-content-between align-items-center"
      >
        <h1 class="me-md-2 me-xl-8">
          <a href="index.html" class="logo d-block">教練</a>
        </h1>
        <!-- pc 搜尋欄-->
        <form
          class="align-items-center border rounded-pill bg-white d-none d-md-flex"
          role="search"
        >
          <span
            class="fs-md-7 fs-lg-6 text-nowrap ps-md-2 ps-xl-4 text-gray-300"
            >搜尋文章</span
          >
          <input
            class="form-control py-md-1 py-lg-2 px-md-2 px-xl-4 bg-white border-0"
            type="search"
            id="search"
            aria-label="Search"
          />
          <label for="search" class="d-flex align-items-center">
            <a href="#">
              <i
                class="bi bi-search fs-md-6 fs-xl-4 text-accent-200 ps-1 pe-md-2 pe-xl-4"
              ></i>
            </a>
          </label>
        </form>
      </div>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="hamburg-line"></span>
        <span class="hamburg-line"></span>
        <span class="hamburg-line"></span>
      </button>
      <div
        class="collapse navbar-collapse px-6 px-sm-15 px-md-0"
        id="navbarContent"
      >
        <!-- pad mobil 搜尋欄 -->

        <form
          class="align-items-center border rounded-pill bg-white d-md-none d-flex w-100 mb-5"
          role="search"
        >
          <span class="fs-6 text-nowrap px-4 text-gray-300">搜尋文章</span>
          <input
            class="form-control bg-white border-0"
            type="search"
            id="search"
            aria-label="Search"
          />
          <label for="search" class="d-flex align-items-center">
            <a href="#">
              <i class="bi bi-search fs-4 text-accent-200 px-2"></i>
            </a>
          </label>
        </form>
        <ul class="navbar-nav ms-auto mb-lg-0">
          <li class="nav-item me-xl-4 mb-5 mb-md-0">
            <a
              class="nav-link link-primary-status py-md-1 py-2 px-md-2 px-lg-4 link-gray-500 fw-bold fs-md-7 fs-lg-6"
              aria-current="page"
              href="articles.html"
              >所有文章</a
            >
          </li>
          <li class="nav-item me-xl-4 mb-5 mb-md-0">
            <a
              class="nav-link link-primary-status py-md-1 py-2 px-md-2 px-lg-4 link-gray-500 fw-bold fs-md-7 fs-lg-6"
              href="subscription.html"
              >服務項目</a
            >
          </li>
          <li class="nav-item me-xl-4 mb-5 mb-md-0">
            <a
              class="nav-link link-primary-status py-md-1 py-2 px-md-2 px-lg-4 link-gray-500 fw-bold fs-md-7 fs-lg-6"
              href="https://coachmoments.github.io/DISC/"
              target="_blank"
              >DISC測驗</a
            >
          </li>
          <li class="nav-item me-xl-4 me-md-2">
            <a
              class="nav-link link-primary-status py-md-1 py-2 px-md-2 px-lg-4 link-gray-500 fw-bold fs-md-7 fs-lg-6"
              href="aboutus.html"
              >關於我們</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
