<div class="row">
  <div class="col-lg-3">
    <div
      class="nav flex-column nav-pills bg-white p-5 rounded-3 h-100"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link rounded-1 text-start active p-3 fw-bolder fs-6 fs-xl-5 mb-5"
        id="v-pills-alcohol-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-alcohol"
        type="button"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
      >
        •酒精路跑地圖
      </button>
      <button
        class="nav-link rounded-1 text-start p-3 fw-bolder fs-6 fs-xl-5 mb-5"
        id="v-pills-noodle-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-noodle"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
      >
        •台北拉麵圖鑑
      </button>
      <button
        class="nav-link rounded-1 text-start p-3 fw-bolder fs-6 fs-xl-5 mb-5"
        id="v-pills-island-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-island"
        type="button"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
      >
        •海島自由行
      </button>
      <button
        class="nav-link rounded-1 text-start p-3 fw-bolder fs-6 fs-xl-5 mb-5 text-nowrap"
        id="v-pills-abroad-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-abroad"
        type="button"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
      >
        •短天數出國推薦
      </button>
      <button
        class="nav-link rounded-1 text-start p-3 fw-bolder fs-6 fs-xl-5"
        id="v-pills-camping-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-camping"
        type="button"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
      >
        •週末露營趣
      </button>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="tab-content rounded-3 p-9 bg-white" id="v-pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-pills-alcohol"
        role="tabpanel"
        aria-labelledby="v-pills-alcohol-tab"
        tabindex="0"
      >
        <div class="brief-description p-5 mb-3">
          <h4 class="fs-5 fs-md-4 mb-2 mb-md-5 text-accent-200">
            酒精路跑地圖
          </h4>
          <ul class="list-unstyled">
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜城市酒吧人氣榜,盤點當紅熱門酒吧</a>
            </li>
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</a>
            </li>
            <li class="fw-bold">
              <a href="#" class="link-gray-500">｜台南老宅手工酒藏,尋味百年人文釀意</a>
            </li>
          </ul>
        </div>
        <ul class="list-unstyled d-flex pc-img-list px-3 mb-3">
          <li>
            <img
              src="../assets/images/hots-1.png"
              class="img-fluid"
              alt="酒精路跑地圖1"
            />
          </li>
          <li>
            <img
              src="../assets/images/hots-2.png"
              class="img-fluid"
              alt="酒精路跑地圖2"
            />
          </li>
          <li>
            <img
              src="../assets/images/hots-3.png"
              class="img-fluid"
              alt="酒精路跑地圖3"
            />
          </li>
          <li>
            <img
              src="../assets/images/hots-4.png"
              class="img-fluid"
              alt="酒精路跑地圖4"
            />
          </li>
        </ul>
        <div
          class="badge-area d-flex justify-content-between align-items-center p-5"
        >
          <ul class="list-unstyled d-flex gap-3">
            <li>
              <a href="#" class="badge badge-primary-link">#夜貓行程</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#barhopping</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#全台酒吧</a>
            </li>
          </ul>
          <a href="" class="link-accent-200 fs-5 font-news-reader">
            View More
            <i class="bi bi-arrow-right ms-2 fs-5"></i>
          </a>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-noodle"
        role="tabpanel"
        aria-labelledby="v-pills-noodle-tab"
        tabindex="0"
      >
        <div class="brief-description p-5 mb-3">
          <h4 class="fs-5 fs-md-4 mb-2 mb-md-5 text-accent-200">
            台北拉麵圖鑑
          </h4>
          <ul class="list-unstyled">
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜城市酒吧人氣榜,盤點當紅熱門酒吧</a>
            </li>
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</a>
            </li>
            <li class="fw-bold">
              <a href="#" class="link-gray-500">｜台南老宅手工酒藏,尋味百年人文釀意</a>
            </li>
          </ul>
        </div>
        <ul class="list-unstyled d-flex pc-img-list px-3 mb-3">
          <li>
            <img
              src="../assets/images/hots-3-sm.png"
              class="img-fluid"
              alt="台北拉麵圖鑑1"
            />
          </li>
          <li>
            <img
              src="../assets/images/hots-3-sm.png"
              class="img-fluid"
              alt="台北拉麵圖鑑2"
            />
          </li>
        </ul>
        <div
          class="badge-area d-flex justify-content-between align-items-center p-5"
        >
          <ul class="list-unstyled d-flex gap-3">
            <li>
              <a href="#" class="badge badge-primary-link">#雞白湯</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#拉麵</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#台北美食</a>
            </li>
          </ul>
          <a href="" class="link-accent-200 fs-5 font-news-reader">
            View More
            <i class="bi bi-arrow-right ms-2 fs-5"></i>
          </a>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-island"
        role="tabpanel"
        aria-labelledby="v-pills-island-tab"
        tabindex="0"
      >
        <div class="brief-description p-5 mb-3">
          <h4 class="fs-5 fs-md-4 mb-2 mb-md-5 text-accent-200">海島自由行</h4>
          <ul class="list-unstyled">
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜私島慢活島嶼生活 - 在熱帶天堂品...</a>
            </li>
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜海島漂流記 - 在陽光、沙灘和比基...</a>
            </li>
            <li class="fw-bold">
              <a href="#" class="link-gray-500">｜島嶼蹤跡 - 揭開加勒比海上世外桃...</a>
            </li>
          </ul>
        </div>
        <ul class="list-unstyled d-flex pc-img-list px-3 mb-3">
          <li>
            <img
              src="../assets/images/hots-4-sm.png"
              class="img-fluid"
              alt="海島自由行1"
            />
          </li>
          <li>
            <img
              src="../assets/images/hots-4-sm.png"
              class="img-fluid"
              alt="海島自由行2"
            />
          </li>
        </ul>
        <div
          class="badge-area d-flex justify-content-between align-items-center p-5"
        >
          <ul class="list-unstyled d-flex gap-3">
            <li>
              <a href="#" class="badge badge-primary-link">#熱帶國家</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#海邊</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#無敵海景</a>
            </li>
          </ul>
          <a href="" class="link-accent-200 fs-5 font-news-reader">
            View More
            <i class="bi bi-arrow-right ms-2 fs-5"></i>
          </a>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-abroad"
        role="tabpanel"
        aria-labelledby="v-pills-abroad-tab"
        tabindex="0"
      >
        <div class="brief-description p-5 mb-3">
          <h4 class="fs-5 fs-md-4 mb-2 mb-md-5 text-accent-200">
            短天數出國推薦
          </h4>
          <ul class="list-unstyled">
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜72小時東京遊走 - 當個時尚東京通</a>
            </li>
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜48小時曼谷遊玩全攻略</a>
            </li>
            <li class="fw-bold">
              <a href="#" class="link-gray-500">｜三天兩夜賞櫻微醺東京</a>
            </li>
          </ul>
        </div>
        <ul class="list-unstyled d-flex pc-img-list px-3 mb-3">
          <li>
            <img
              src="../assets/images/hots-5-sm.png"
              class="img-fluid"
              alt="短天數出國推薦1"
            />
          </li>
          <li>
            <img
              src="../assets/images/hots-5-sm.png"
              class="img-fluid"
              alt="短天數出國推薦2"
            />
          </li>
        </ul>
        <div
          class="badge-area d-flex justify-content-between align-items-center p-5"
        >
          <ul class="list-unstyled d-flex gap-3">
            <li>
              <a href="#" class="badge badge-primary-link">#說走就走</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#出國玩</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#東亞</a>
            </li>
          </ul>
          <a href="" class="link-accent-200 fs-5 font-news-reader">
            View More
            <i class="bi bi-arrow-right ms-2 fs-5"></i>
          </a>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-camping"
        role="tabpanel"
        aria-labelledby="v-pills-camping-tab"
        tabindex="0"
      >
        <div class="brief-description p-5 mb-3">
          <h4 class="fs-5 fs-md-4 mb-2 mb-md-5 text-accent-200">週末露營趣</h4>
          <ul class="list-unstyled">
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜週末說走就走露營記</a>
            </li>
            <li class="mb-4 fw-bold">
              <a href="#" class="link-gray-500">｜城市野營日記</a>
            </li>
            <li class="fw-bold">
              <a href="#" class="link-gray-500">｜和寵物去露營 - 大自然之旅的雙倍...</a>
            </li>
          </ul>
        </div>
        <ul class="list-unstyled d-flex pc-img-list px-3 mb-3">
          <li>
            <img
              src="../assets/images/hots-2-sm.png"
              class="img-fluid"
              alt="週末露營趣1"
            />
          </li>
          <li>
            <img
              src="../assets/images/hots-2-sm.png"
              class="img-fluid"
              alt="週末露營趣2"
            />
          </li>
        </ul>
        <div
          class="badge-area d-flex justify-content-between align-items-center p-5"
        >
          <ul class="list-unstyled d-flex gap-3">
            <li>
              <a href="#" class="badge badge-primary-link">#戶外</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#露營控</a>
            </li>
            <li>
              <a href="#" class="badge badge-primary-link">#凹豆</a>
            </li>
          </ul>
          <a href="" class="link-accent-200 fs-5 font-news-reader">
            View More
            <i class="bi bi-arrow-right ms-2 fs-5"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
